/* Reset some base styles */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Each container gets full viewport height and a custom gradient */
.landing-container {
  min-height: 100vh;
  background: radial-gradient(circle at center, black,  #101CC6, #000, black, black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 2rem;
}

.project-container {
  min-height: 100vh;
  background: radial-gradient(circle at center, BLACK, #101CC6, black);
  padding: 2rem;
  color: white;
}

.product-container {
  min-height: 100vh;
  background: radial-gradient(closest-corner, #101CC6, #000428);
  padding: 2rem;
  color: white;
}

.footer-container {
  height: 100vh;
  background: var(--gradient-4);
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-coming-soon {
  flex: 1;
}
